@use "../base/mixins" as *;
.footer {
  &__container {
    display: grid;
    gap: var(--space-8);
  }

  &__top {
    padding: var(--space-8) var(--space-4) 0;
    display: grid;
    gap: var(--space-4);
    margin-bottom: var(--space-9);

    @include tab {
      padding: 64px 40px 80px;
      display: flex;
      justify-content: space-between;
    }
    @include desk {
      padding: var(--space-12) var(--space-14);
      grid-template-columns: 2fr 440px 2fr;
    }
  }

  &__info {
    width: 408px;

    @include tab {
      flex: 0 0 320px;
    }
  }

  &__logo {
    display: block;
    width: 300px;
    height: 58px;
  }

  &__middle {
    padding-inline: var(--space-4);
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-8);
    margin-bottom: var(--space-8);

    @include tab {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;
    }

    @include desk {
      padding-inline: 80px;
      justify-content: space-between;
    }
  }
  &__description {
    padding-top: 16px;
  }
  &__description,
  &__bottom,
  &__bottom-link {
    font-size: var(--font-size-p2);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-p2);
    letter-spacing: var(--letter-spacing-normal);
  }

  &__nav {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-7);
    transition: gap 0.3s ease, justify-content 0.3s ease;

    @include tab {
      flex-wrap: nowrap;
      align-items: flex-start;
      justify-content: space-between;
    }
  }

  &__subscribe {
    display: grid;
    gap: var(--space-7);

    h4 {
      max-width: 220px;
      white-space: normal;
    }

    @include tab {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      gap: var(--space-4);
    }
  }

  &__subscribe-action {
    display: flex;
    gap: var(--space-2);
  }

  .input__email {
    width: 100%;
    min-width: 220px;
    max-width: 300px;
    height: 64px;
  }

  &__bottom {
    padding: var(--space-7) var(--space-4);
    color: var(--color-secondary-1-invert);
    background-color: var(--color-primary);
    padding: var(--space-7) var(--space-4);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: var(--space-8);

    @include tab {
      padding: var(--space-7) var(--space-14);
    }
  }

  &__bottom-link {
    padding-left: 8px;
    color: var(--color-secondary-1-invert);

    &:first-child {
      padding-left: 0px;
    }

    &--with-divider::after {
      content: "|";
      display: inline-block;
      margin-left: 8px;
    }
  }
}
