@use "../base/mixins" as *;
.header {
  background-color: var(--bg-base);
  box-shadow: 0 4px 40px rgba(29, 57, 95, 0.02);
  padding: 24px 16px;
  position: fixed;
  min-height: 92px;
  width: 100%;
  overflow-x: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2000;

  @include tab {
    padding: var(--space-7) var(--space-9);
  }

  @include desk {
    padding: var(--space-7) var(--space-13);
  }
  &__container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    gap: var(--space-3);
    width: 100%;

    @include tab {
      flex-wrap: nowrap;
    }
  }

  &__nav {
    height: 100%;
    display: flex;
    gap: var(--space-4);
    align-items: center;
    min-width: 0;

    @include tab {
      flex-direction: row-reverse;
      gap: var(--space-8);
    }
  }

  &__action {
    height: 100%;
    display: flex;
    align-items: center;
    gap: var(--space-2);
    flex-shrink: 0;
    min-width: 0;
  }
}
