@use "../base/mixins" as *;
.article {
  width: 100%;
  margin-inline: auto;
  padding-inline: var(--space-4);
  padding-top: 64px;
  display: flex;
  flex-direction: column;
  gap: var(--space-9);
  max-width: 440px;
  justify-content: start;
  align-items: start;

  @include tab {
    padding-inline: var(--space-9);
    max-width: var(--screen-tab);
  }

  @include desk {
    max-width: 1280px;
    align-items: center;
  }

  &__container {
    display: grid;
    gap: var(--space-8);

    @include tab {
      display: grid;
      gap: var(--space-9);
      grid-template-columns: 260px 1fr;
      align-items: start;
    }
    @include desk {
      width: 1280px;
    }
  }
  &__hero {
    margin-top: 92px;
    display: grid;
    gap: 64px;
  }

  &__badge {
    background-color: var(--color-accent);
    border-radius: 100px;
    color: var(--color-white);
    width: 146px;
    text-align: center;
    height: 40px;
    padding-inline: 16px;
    text-transform: uppercase;
    padding-top: 10px;
  }
  &__header {
    display: grid;
    gap: 24px;

    @include tab {
      max-width: 900px;
    }
    @include desk {
      max-width: 1000px;
    }
  }

  &__title {
    @include tab {
      font-size: var(--font-size-h1);
      font-weight: var(--font-weight-bold);
      line-height: var(--line-height-h1);
      letter-spacing: var(--letter-spacing-tight);
    }
  }
  h1 {
    text-align: left;
  }
  &__image {
    width: 408px;
    min-width: 127px;
    border-radius: 20px;

    @include tab {
      width: 944px;
    }
    @include desk {
      width: 1280px;
    }
  }
}
