@use "../base/mixins" as *;
.article {
  display: flex;
  flex-direction: column;
  gap: var(--space-9);
  width: 408px;
  justify-content: start;
  align-items: start;

  @include tab {
    width: 944px;
  }

  @include desk {
    width: 1280px;
  }

  &__container {
    @include tab {
      display: grid;
      gap: var(--space-9);
      grid-template-columns: 260px 1fr;
      align-items: start;
    }
  }
  &__hero {
    margin-top: 92px;
    display: grid;
    gap: 64px;
  }

  &__badge {
    background-color: var(--color-accent);
    padding: 16px;
    border-radius: 100px;
    color: var(--color-white);
    width: 146px;
    text-align: center;
  }
  &__header {
    display: grid;
    gap: 24px;
  }

  h1 {
    text-align: left;
  }
  &__image {
    width: 408px;
    min-width: 127px;
    border-radius: 20px;

    @include tab {
      width: 944px;
    }
    @include desk {
      width: 1280px;
    }
  }
}
