.article-sidebar {
  display: grid;
  gap: var(--space-9);
  max-width: 408px;

  &__author {
    display: flex;
    align-items: flex-start;
    gap: var(--space-4);
  }

  &__avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
  }
  &__date {
    color: var(--color-secondary);
  }
  &__info {
    display: flex;
    flex-direction: column;
  }
  &__divider {
    border: none;
    border-bottom: 2px solid var(--color-primary);
  }
  &__section {
    display: flex;
    flex-direction: column;
    gap: var(--space-3);
  }
  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
    padding: 0;
    margin: 0;
  }
  &__link {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    position: relative;
    color: var(--color-secondary-3);

    &::before {
      content: "";
      width: 6px;
      height: 6px;
      background-color: var(--color-accent);
      border-radius: 50%;
      display: inline-block;
    }

    &--active {
      padding-left: 10px;
      color: var(--primary);
      font-weight: var(--font-weight-semibold);
    }
  }

  &__latest {
    display: flex;
    flex-direction: column;
    gap: var(--space-3);
  }
  &__article-list {
    display: grid;
    gap: 48px;
  }
  &__article-link {
    color: var(--color-primary);
    text-decoration: none;
  }
  &__article-date {
    color: var(--color-secondary-3);
  }
}
