@use "../base/mixins" as *;
.article-content {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
  min-width: 408px;

  &__paragraph {
    padding-bottom: 20px;
  }
  &__image-block {
    width: 100%;
    display: grid;
    gap: 10px;
  }
  &__image {
    width: 100%;
    min-height: 462px;
    border-radius: 20px;

    // @include tab {
    //   min-width: 644px;
    // }

    // @include desk {
    //   min-width: 940px;
    // }
  }

  &__caption {
    margin-bottom: var(--space-7);
    display: flex;
    justify-content: space-between;
  }
  &__link {
    color: var(--color-accent);
    font-size: var(--font-size-p2);
    line-height: var(--line-height-p2);
    letter-spacing: var(--font-weight-semibold);
    font-weight: var(--font-weight-regular);
  }
  &__quote {
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: start;
    gap: var(--space-4);
  }
}
