@use "../base/mixins" as *;
.feature-cards {
  padding: 64px 16px 0;
  width: 100%;
  overflow: hidden;
  margin-inline: auto;

  @include tab {
    padding: 60px 40px 0;
  }
  @include desk {
    padding-top: 100px;
    padding-inline: 0;
    max-width: 1440px;
  }

  &__flex {
    display: flex;
    gap: var(--space-4);
    justify-content: space-between;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;

    @include tab {
      overflow-x: hidden;
      flex-wrap: nowrap;
    }
    @include desk {
      gap: var(--space-8);
    }
  }
}
