@use "../base/mixins" as *;
.card-scroll__container {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  padding-inline: 1rem;
  scroll-snap-type: x mandatory;

  .product-card {
    scroll-snap-align: start;
    width: 305px;
    min-width: 260px;
    max-width: 330px;
    height: 444px;

    @include tab {
      min-width: 303px;
      max-width: 330px;
      height: auto;
      padding: 1.5rem;
      gap: 1.5rem;
    }
    @include desk {
      width: 270px;
    }
  }
}
