@use "../base/mixins" as *;
.feature-cards {
  &__flex {
    display: flex;
    gap: var(--space-4);
    justify-content: space-between;
    overflow-x: auto;
    scroll-snap-type: x mandatory;

    @include tab {
      overflow-x: hidden;
      flex-wrap: nowrap;
    }
    @include desk {
      gap: var(--space-8);
    }
  }
}
