@use "../base/mixins" as *;
.catalog {
  width: 100%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  padding-inline: var(--space-4);
  max-width: 440px;

  @include tab {
    padding-inline: var(--space-9);
    max-width: 1024px;
  }

  @include desk {
    padding: 0;
    display: grid;
    grid-template-columns: 217px 1fr;
    gap: 24px;
    max-width: 1288px;
  }
}
.catalog-content {
  display: grid;
  gap: 48px;
}
