@use "../base/mixins" as *;
.catalog-controls {
  display: flex;
  gap: var(--space-7);
  flex-direction: column;
  flex-wrap: wrap;

  &__container {
    display: grid;
    gap: var(--space-7);
    @include tab {
      display: flex;
      justify-content: space-between;
    }
  }

  &__view-toggle {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: flex-end;
  }
  &__sort {
    flex-grow: 1;
    display: flex;
    gap: var(--space-2);
    align-items: center;
  }
  &__text {
    padding-right: 96px;

    @include tab {
      padding: 0;
    }
  }
}
.sort__select {
  width: 360px;
  height: 40px;
  padding: 8px 20px;
  border: 1px solid var(--color-separator-bold);
  border-radius: 8px;
  font-size: var(--font-size-p2);
  line-height: var(--line-height-p2);
  font-weight: var(--font-weight-semibold);
  appearance: none;
  background: white url("/img/chevron-down.svg") no-repeat right 12px center;
  background-size: 12px;
  padding-right: 40px;

  @include tab {
    width: 156px;
  }
}
