@use "../base/mixins" as *;
.catalog {
  display: flex;
  flex-direction: column;
  padding-inline: var(--space-4);

  @include tab {
    padding-inline: var(--space-9);
  }

  @include desk {
    padding: 0;
    display: grid;
    grid-template-columns: 217px 1fr;
    gap: 24px;
  }
}
.catalog-content {
  display: grid;
  gap: 48px;
}
