@use "../base/mixins" as *;
.category-card {
  aspect-ratio: 1 / 1;
  width: 194px;
  background-color: var(--bg-alt-2);
  border-radius: var(--space-6);
  padding: var(--space-7);
  text-align: left;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;

  @include tab {
    width: 210px;
  }
  @include desk {
    width: 294px;
    min-height: 180px;
  }

  &:hover {
    background-color: var(--color-accent);
    color: var(--bg-base);
  }

  &__svg {
    width: 48px;
    height: 48px;
    color: var(--color-accent);
    stroke: currentColor;
    align-items: left;

    &:hover {
      color: var(--bg-base);
    }
  }
  h3 {
    padding-top: 16px;
  }
  &__tags span {
    font-size: var(--font-size-p2);
    line-height: var(--line-height-p2);
    font-weight: var(--font-weight-regular);
    letter-spacing: var(--letter-spacing-normal);
    color: var(--color-secondary-2);
  }
  &__tags {
    padding-top: var(--space-2);
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-2);
    color: var(--color-secondary-2);
    justify-content: flex-start;
    max-height: 56px;
  }

  &__placeholder1 {
    height: 60px;
    border-bottom-right-radius: var(--space-6);
    border-bottom-left-radius: var(--space-6);
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgba(240, 246, 253, 1)
    );
  }

  &__placeholder2 {
    height: 60px;
    border-top-right-radius: var(--space-6);
    border-top-left-radius: var(--space-6);
    background: linear-gradient(
      to bottom,
      rgba(240, 246, 253, 1),
      rgba(255, 255, 255, 0)
    );
  }
}
.categories__grid .category-card:nth-child(4),
.categories__grid .category-card:nth-child(6) {
  transform: translateY(-143.5px);
  position: relative;

  @include tab {
    transform: translateY(-150px);
  }
  @include desk {
    transform: translateY(-115px);
  }
}
