@use "../base/mixins" as *;
.faq {
  padding-inline: var(--space-4);

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--space-12);
    margin: 0 auto;

    @include tab {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      gap: var(--space-9);
    }
  }

  &__left {
    max-width: 408px;
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
    align-items: flex-start;

    @include tab {
      max-width: none;
    }
  }

  &__content {
    max-width: 412px;
    flex: 1;
    background: transparent;
    display: flex;
    flex-direction: column;
    gap: var(--space-4);

    @include desk {
      max-width: none;
    }
  }
  &__glow {
    @include tab {
      position: absolute;
      transform: translate(-20%, 20%);
      width: 689px;
      height: 498px;
      background: radial-gradient(
        ellipse,
        rgba(15, 115, 246, 0.2) 0%,
        rgba(15, 115, 246, 0) 70%
      );
      z-index: -1;
      pointer-events: none;
    }

    @include desk {
      transform: translate(-50%, 15%);
    }
  }
}
