@use "../base/mixins" as *;
.filters {
  position: relative;
  z-index: 1000;

  &__toggle {
    display: none;
  }

  &__panel {
    position: fixed;
    top: 92px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--bg-base);
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    overflow-y: auto;
    padding: 1.5rem;
    display: grid;
    gap: 21px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;

    @include tab {
      width: 50%;
    }

    @include desk {
      transform: none;
      position: static;
      height: auto;
      overflow: visible;
      padding: 0;
    }
  }

  &__toggle:checked ~ .filters__panel {
    transform: translateX(0);
  }

  &__header {
    padding: var(--space-4) var(--space-7);
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: flex;
    min-height: 88px;
    width: 440px;
    justify-content: space-between;
    background-color: var(--bg-base);
    box-shadow: 0 4px 40px 0 rgba(29, 57, 95, 0.02);

    @include desk {
      display: none;
    }
  }
  &__button-save,
  &__button {
    @include desk {
      display: none;
    }
  }
}
