@use "../base/mixins" as *;
.footer-nav {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1fr));
  gap: var(--space-8);

  &__section {
    min-width: 205px;
    display: grid;
    gap: var(--space-4);

    @include tab {
      min-width: auto;
    }
  }

  &__list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
  }

  &__item,
  &__link {
    list-style: none;
    color: var(--color-secondary-3);
    font-size: var(--font-size-p2);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-p2);
    letter-spacing: var(--letter-spacing-normal);
  }
  &__title {
    font-family: var(--font-secondary);
    font-size: var(--font-size-h5);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-h5);
    letter-spacing: var(--letter-spacing-normal);
  }
}
