@use "../base/mixins" as *;

.form-field {
  display: flex;
  flex-direction: column;
  gap: 6px;

  label {
    font-size: var(--font-size-p3);
    line-height: var(--line-height-p3);
    font-weight: var(--font-weight-regular);
    color: var(--color-primary);
  }

  input,
  select,
  textarea {
    box-sizing: border-box;
    background-color: var(--color-bg);
    min-height: 40px;
    padding: var(--space-6);
    border: 1px solid var(--color-separator-bold);
    box-shadow: 0 0 0 3px transparent;
    border-radius: var(--space-2);
    font-size: var(--font-size-p2);
    line-height: var(--line-height-p2);
    color: var(--color-primary);
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
    resize: none;
  }

  select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-family: var(--font-primary);
    width: 100%;
    padding-right: 40px;
    background-position: right var(--space-4) center;
    background-repeat: no-repeat;
    background-size: 12px;
  }

  textarea {
    min-height: 180px;
  }

  textarea::placeholder {
    font-family: var(--font-primary);
    color: var(--color-secondary-2);
    font-size: var(--font-size-p2);
    line-height: var(--line-height-p2);
    font-weight: var(--font-weight-regular);
  }

  input,
  select,
  textarea {
    margin-bottom: 14px;
  }

  &:hover {
    box-shadow: 0 0 0 2px var(--color-focus);
  }

  &:focus {
    box-shadow: 0 0 0 2px var(--color-focus);
  }

  &:disabled {
    background-color: var(--color-separator);
    border: 1px solid var(--color-separator-bold);
  }

  &__message {
    font-size: var(--font-size-p4);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-p4);
    letter-spacing: var(--letter-spacing-normal);
    margin-top: var(--space-1);

    &--error {
      color: var(--color-error);
    }

    &--success {
      color: var(--color-success);
    }

    &--help {
      color: var(--color-secondary-text);
    }
  }

  &--invalid input,
  &--invalid select,
  &--invalid textarea {
    border-color: var(--color-error);
  }
  &--validated {
    border-color: var(--color-separator-bold);
  }

  &--disabled {
    background-color: var(--color-disabled-bg);
    color: var(--color-disabled-text);
  }

  .form-field--inline {
    flex-direction: row;
    align-items: center;

    label {
      margin-left: 8px;
    }
  }

  .select-wrapper {
    position: relative;
  }
  .icon--arrow-down {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 20px;
    top: 45%;
    pointer-events: none;
    fill: var(--color-primary);
  }
}
