@use "../base/mixins" as *;
.hero {
  margin-top: 92px;
  padding: 32px 16px 64px;
  background: linear-gradient(
    to top,
    rgba(240, 246, 253, 1),
    rgba(255, 255, 255, 1)
  );

  @include tab {
    padding: 120px 40px;
  }
  @include desk {
    padding: 120px 80px 95px;
  }
}

.hero__inner {
  max-width: 440px;
  margin-inline: auto;
  gap: 36px;
  display: grid;

  @include tab {
    max-width: 1024px;
    gap: 100px;
    grid-template-columns: 410px 445px;
    grid-auto-flow: column;
  }
  @include desk {
    grid-template-columns: 1fr 1fr;
    gap: 160px;
    max-width: 1440px;
  }
}

.hero__images {
  position: relative;
  flex: 1 1 0%;
  min-width: 300px;
  max-width: 450px;
  display: grid;
  grid-template-areas:
    "left top"
    "left bottom";
  grid-template-columns: auto auto;
  grid-auto-rows: 1fr 170px;
}

.hero__picture {
  img {
    border-radius: var(--radius-md);
    width: 100%;
  }
}
.hero__picture--left {
  grid-area: left;
  z-index: 3;
  width: 131px;
  height: 197px;
  margin-top: 30px;

  @include tab {
    min-height: 300px;
    margin-top: 0;
    transform: translate(10px, 30px);
  }
  @include desk {
    width: 281px;
    height: 422px;
    transform: translate(-25px, -73px);
  }
}

.hero__picture--top {
  grid-area: top;
  z-index: 2;
  width: 171px;
  margin-left: 46px;
  margin-top: 12px;

  @include tab {
    width: 207px;
    transform: translate(50px, 61px);
  }
  @include desk {
    width: 292px;
    height: 161px;
    transform: translate(-50px, -35px);
  }
}

.hero__picture--bottom {
  grid-area: bottom;
  transform: translate(-22px, 15px);
  width: 242px;
  height: 140px;

  @include tab {
    width: 366px;
    height: 212px;
    margin: 0;
    transform: translate(-60px, -90px);
  }

  @include desk {
    width: 514px;
    height: 300px;
    transform: translate(-220px, -84px);
  }
}

.hero__icon-wrapper {
  position: absolute;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg-base);
  box-shadow: var(--shadow-hero);
  border-radius: 3px;

  @include tab {
    width: 56px;
    height: 56px;
  }
}

.hero__icon-wrapper--top {
  border-radius: 3px;
  z-index: 4;
  transform: translate(305px, 5px);

  @include tab {
    border-radius: 3px;
    transform: translate(310px, 45px);
  }
  @include desk {
    border-radius: 3px;
    top: 0;
    transform: translate(470px, -65px);
  }
}

.hero__icon-wrapper--bottom {
  border-radius: 6px;
  z-index: 4;
  transform: translate(18px, 235px);

  @include tab {
    border-radius: 10px;
    transform: translate(35px, 320px);
  }

  @include desk {
    border-radius: 10px;
    transform: translate(0, 370px);
  }
}

.hero__content {
  flex: 1 1 0%;
  max-width: 520px;
  display: grid;
  gap: 32px;

  @include tab {
    grid-column: 1;
  }
  @include desk {
    gap: var(--space-2);
  }
}

.hero__actions {
  display: flex;
  gap: var(--space-7);
}

.hero__description {
  font-family: var(--font-secondary);
  font-size: var(--font-size-h5);
  line-height: var(--line-height-p1);
  font-weight: var(--font-weight-medium);
  letter-spacing: var(--letter-spacing-normal);
}

.hero__button {
  height: 64px;
}
