@use "../base/mixins" as *;
.hero {
  padding: 32px 16px 64px;
  background: linear-gradient(
    to bottom,
    rgba(240, 246, 253, 1),
    rgba(255, 255, 255, 1)
  );
  display: flex;
  flex-wrap: wrap;
  gap: 36px;

  @include tab {
    padding: 120px 40px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 100px 1fr;
    gap: 36px;
    justify-items: center;
  }
  @include desk {
    padding: 120px 80px;
  }

  &__images {
    position: relative;
    grid-column: 3;
    display: grid;
    gap: var(--space-10);
    justify-content: start;
    grid-template-areas:
      "left top"
      "left bottom";
    grid-template-columns: auto auto;

    @include tab {
      grid-template-columns: 1fr 1fr;
    }
    @include desk {
      grid-template-columns: 60% 40%;
    }
  }

  &__picture {
    &--left {
      margin-top: 30px;
      grid-area: left;
      z-index: 3;
      width: 131px;

      @include tab {
        width: 200px;
      }
      @include desk {
        width: 281px;
      }
    }
    &--top {
      grid-area: top;
      z-index: 2;
      width: 171px;

      @include tab {
        width: 207px;
      }
      @include desk {
        width: 292px;
      }
    }
    &--bottom {
      left: 106px;
      grid-area: bottom;
      z-index: 1;
      margin-left: -72px;
      margin-top: -35px;
      width: 242px;

      @include tab {
        width: 366px;
      }
      @include desk {
        width: 514px;
      }
    }

    img {
      display: block;
      width: 100%;
      height: auto;
      border-radius: var(--radius-md);
    }
  }

  &__icon-wrapper {
    position: absolute;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bg-base);
    box-shadow: var(--shadow-hero);
    border-radius: 3px;

    @include desk {
      width: 56px;
      height: 56px;
    }
    &--top {
      z-index: 4;
      top: -10px;
      left: 305px;
    }
    @include desk {
      top: 24px;
      right: 24px;
    }

    &--bottom {
      z-index: 4;
      top: 235px;
      left: 18px;

      @include desk {
        bottom: 24px;
        left: 24px;
      }
    }
  }

  &__content {
    min-width: 300px;
    max-width: 520px;
    display: grid;
    gap: 32px;

    @include tab {
      grid-column: 1;
    }

    span {
      color: var(--color-accent);
    }
  }
  &__actions {
    display: flex;
    gap: var(--space-7);
  }
}
