@use "../base/mixins" as *;
.icon {
  display: inline-block;
  fill: currentColor;
  flex-shrink: 0;
}
.icon--logo {
  fill: var(--color-accent);
  width: 108px;
  height: 24px;
}
.icon--search {
  display: inline-block;
  stroke: black;
  fill: white;
  width: 20px;
  height: 20px;
}

.icon--bag {
  display: inline-block;
  fill: white;
  width: 24px;
  height: 24px;
}
.icon--footer-logo {
  width: 300px;
  fill: var(--color-accent);
  transform: translateY(-7px);
}

.icon--twitter,
.icon--facebook,
.icon--telegram {
  width: 24px;
  height: 24px;
  fill: black;
}

.icon--play {
  width: 20px;
  height: 20px;
  fill: currentColor;
  color: var(--color-accent);
}

.icon__hero {
  width: 20px;
  height: 20px;

  @include tab {
    width: 36px;
    height: 36px;
  }
}

.icon--badge {
  width: 24px;
  height: 24px;
  color: white;
  fill: currentColor;
}
.icon__trending--left {
  transform: scaleX(-1);
}

.icon__trending--left,
.icon__trending--right {
  width: 24px;
  height: 24px;
  color: var(--color-primary);
  fill: currentColor;
}

.icon--check {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  stroke: var(--color-accent);
}
.icon--close {
  width: 12px;
  height: 12px;
  flex-shrink: 0;
  color: var(--color-primary);
  fill: currentColor;
  stroke: currentColor;
}
.icon--quote {
  width: 64px;
  height: 64px;
  color: var(--color-focus-2);
  fill: currentColor;
}
.icon--chevron {
  width: 16px;
  height: 16px;
  color: var(--color-focus-2);
  fill: currentColor;
  overflow: visible;
  display: inline-block;
}
.icon--contact,
.icon--map {
  width: 24px;
  height: 24px;
  color: var(--color-accent);
  fill: currentColor;
}
