@use "../base/mixins" as *;
.menu {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;

  &__input {
    position: absolute;
    left: -999px;
    top: 0;
    visibility: hidden;
    width: 0;
    height: 0;

    @include tab {
      display: none;
      order: 2;
    }
  }

  &__input:checked + &__opener {
    background: var(--color-accent);
  }
  &__input:checked ~ &__panel {
    transform: translateX(0);
  }
  &__input:checked + &__opener::before {
    transform: rotate(45deg);
    top: 20px;
  }

  &__input:checked + &__opener span {
    opacity: 0;
  }

  &__input:checked + &__opener::after {
    transform: rotate(-45deg);
    top: 20px;
  }

  &__opener {
    position: relative;
    padding: var(--space-3);
    z-index: 1001;
    display: flex;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    background: var(--color-accent);
    border-radius: var(--space-2);
    cursor: pointer;
    position: relative;

    &::before,
    &::after,
    & span {
      content: "";
      position: absolute;
      height: 2px;
      width: 18px;
      background: white;
      transition: transform 0.3s ease, top 0.3s ease, opacity 0.3s ease;
      border-radius: 2px;
    }
    &::before {
      top: 12px;
    }
    & span {
      top: 20px;
    }
    &::after {
      top: 28px;
    }
    @include tab {
      display: none;
    }
  }

  &__panel {
    position: fixed;
    top: 92px;
    margin: 0;
    padding: 16px;
    width: 100%;
    height: calc(100vh - 92px);
    left: 0;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in;
    z-index: 1001;
    background-color: var(--bg-base);

    @include tab {
      transform: none;
      position: static;
      height: auto;
      background: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-inline: 40px 16px;
      padding-block: 0;
    }
  }

  &__list {
    list-style: none;
    display: grid;
    align-items: center;
    gap: var(--space-2);

    @include tab {
      list-style: none;
      display: flex;
      gap: (--space-2);
      align-items: center;
      margin-top: 0;
    }
  }

  &__item {
    padding: var(--space-5) var(--space-8);

    @include tab {
      padding: var(--space-1) var(--space-3);
    }
  }

  &__link {
    font-size: var(--font-size-p1);
    font-weight: var(--font-weight-semibold);
    line-height: var(--line-height-p1);
    letter-spacing: var(--letter-spacing-normal);
    color: var(--color-primary);

    @include tab {
      font-size: var(--font-size-p3);
      font-weight: var(--font-weight-semibold);
      line-height: var(--line-height-p3);
      letter-spacing: var(--letter-spacing-normal);
    }
  }
}
