@use "../base/mixins" as *;
.pricing {
  width: 100%;
  padding: var(--space-12) var(--space-4) 0;
  max-width: 408px;
  margin-inline: auto;
  text-align: center;

  @include tab {
    padding: 120px 40px 0;
    max-width: 1024px;
  }
  @include desk {
    max-width: 1440px;
    padding-inline: 0;
  }
  h2 {
    padding-top: var(--space-4);
    margin-bottom: var(--space-10);

    @include tab {
      margin-bottom: 104px;
    }
    @include desk {
      margin-bottom: 80px;
    }
  }

  &__plans {
    display: grid;
    gap: 10px;

    @include tab {
      display: flex;
    }
  }
}
