@use "../base/mixins" as *;
.products {
  width: 100%;
  max-width: 440px;
  margin-inline: auto;
  display: grid;
  gap: 48px;
  padding: var(--space-12) 0 0 var(--space-4);

  @include tab {
    max-width: 1024px;
    padding: 100px 40px 0;
  }

  @include desk {
    max-width: 1440px;
  }

  &__header {
    display: grid;
    gap: 16px;
  }
  &__controls {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  &__buttons {
    display: none;
    @include tab {
      display: flex;
      gap: var(--space-3);
    }
  }

  &__cards {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  &__list {
    display: flex;
    gap: 16px;
    scroll-snap-type: x mandatory;
    width: max-content;
    min-width: 100%;
  }
}
