@use "../base/mixins" as *;
.search-wrapper {
  position: relative;
  display: flex;
  flex: 1;
  min-width: 0;

  &__toggle {
    display: none;
  }

  &__form {
    display: none;

    @include tab {
      display: flex;
      flex: 1;
      transition: opacity 0.3s ease;
      pointer-events: auto;
      max-height: 40px;
      overflow: visible;
    }
  }

  &__button {
    @include tab {
      display: none;
    }
  }
}
.search__input {
  min-width: 240px;
}
