{% extends "layouts/base.njk" %}
{% set page = pages.products %}

{% block content %}
 {% include "partials/article-hero.njk" %}
 {% include "partials/article-sidebar.njk" %}
 {% include "partials/article-content.njk" %}
{% endblock %}