{% set noPadding = true %}
{% extends "layouts/base.njk" %}
{% block pageTitle %}Blog – Pixmart{% endblock %}
{% set page = pages.products %}

{% block content %}
<div class="article">
 {% include "partials/article-hero.njk" %}
 <div class="article__container">
 {% include "partials/article-sidebar.njk" %}
 {% include "partials/article-content.njk" %}
 </div>
  </div>
  {% endblock %}
{% block afterContent %}
 {% include "partials/article-blog.njk" %}
 {% endblock %}

