{% set noPadding = true %}
{% extends "layouts/base.njk" %}
{% block pageTitle %}Contact – Pixmart{% endblock %}
{% set page = pages.contact %}
{% block content %}
<div class="contact">
<div class="contact__sections">
{% include "partials/contact-info.njk" %}
{% include "partials/contact-form.njk" %}
</div>
</div>
{% endblock %}