{% extends "layouts/base.njk" %}
{% block content %}
{% include "partials/hero.njk" %} 
{% include "partials/products.njk" %}
{% include "partials/categories.njk" %}
{% include "partials/trending.njk" %}
{% include "partials/pricing-plan.njk" %}
{% include "partials/faq.njk" %}
{% include "partials/blog.njk" %} x
{% endblock %}