{% extends "layouts/base.njk" %}
{% block lead %}
 {% include "partials/hero.njk" %} 
{% endblock %}

{% block content %}
{% include "partials/cards.njk" %}
{% include "partials/categories.njk" %}
{% include "partials/trending.njk" %}
{% include "partials/pricing.njk" %}
{% include "partials/faq.njk" %}
{% include "partials/blog.njk" %} 
{% endblock %}