{% extends "layouts/base.njk" %}
{% block pageTitle %}Product – Pixmart{% endblock %}
{% set page = pages.products %}

{% block lead %}
  {% include "partials/banner.njk" %}
{% endblock %}

{% block content %}
{% include "partials/catalog.njk" %}
{% endblock %}