<section class="article-content">
  {% for block in article.content %} {% if block.type == "paragraph" %}
  <p class="main text main-text--p1 article-content__paragraph">
    {{ block.text }}
  </p>

  {% elif block.type == "heading" %}
  <h2 class="main-title main-title--h4 article-content__heading">
    {{ block.text }}
  </h2>

  {% elif block.type == "picture" %}
  <figure class="article-content__image-block">
    <picture class="article-content__picture">
      <source
        srcset="/img/{{ block.src.desktop }}-1x.webp, /img/{{ block.src.desktop }}-2x.webp 2x"
        media="(min-width: 1440px)"
        type="image/webp"
      />
      <source
        srcset="/img/{{ block.src.tablet }}-1x.webp, /img/{{ block.src.tablet }}-2x.webp 2x"
        media="(min-width: 1024px)"
        type="image/webp"
      />
      <img
        src="/img/{{ block.src.mobile }}-1x.webp"
        srcset="/img/{{ block.src.mobile }}-1x.webp, /img/{{ block.src.mobile }}-2x.webp 2x"
        alt="{{ block.alt }}"
        class="article-content__image"
      />
    </picture>
    <figcaption class="main-text main-text--p2 article-content__caption">
      {{ block.caption }}
      {% if block.link %}
      <a href="{{ block.link.url }}" class="article-content__link">{{
        block.link.text
      }}</a>
      {% endif %}
    </figcaption>
  </figure>

  {% elif block.type == "quote" %}
  <blockquote class="article-content__quote">
    <svg class="icon--quote" aria-hidden="true">
      <use href="/img/sprite.svg#quote-left"></use>
    </svg>
    <p class="main-title main-title--h4 article-content__quote-text">
      {{ block.text }}
    </p>
  </blockquote>

  {% endif %} {% endfor %}
</section>
