<section class="article-blog">
  <div class="article-blog__container">
    <div class="article-blog__header">
      <h2 class="main-title main-title--h2">Related Articles</h2>
      <a href="{{ article.relatedArticles.link }}" class="link article-blog__subtitle">
        Explore All Articles
        <svg class="icon icon--chevron" role="img" aria-hidden="true">
          <use href="/img/sprite.svg#chevron-right"></use>
        </svg>
      </a>
    </div>

    <div class="article-blog__list">
      {% for related in article.relatedArticles.items %}
      <article class="article-blog__item">
        <div class="article-blog__image-wrapper">
          <img
            src="/img/{{ related.image }}-1x.webp"
            srcset="/img/{{ related.image }}-1x.webp, /img/{{ related.image }}-2x.webp 2x"
            loading="lazy"
            alt="{{ related.title | lower }}"
            class="article-blog__image"
          />
          <span class="badge badge__blog">TAG</span>
        </div>
        <h3 class="main-title main-title--h5">{{ related.title }}</h3>
        <time class="blog__date" datetime="{{ related.date }}">{{ related.displayDate }}</time>
      </article>
      {% endfor %}
    </div>
  </div>
</section>
