<section class="banner">
  <div class="banner__container">
    <h1 class="main-title main-title--h1">
      {{ page.banner.titleStart }}
      <br /><span class="highlight">{{ page.banner.titleAccent }}</span>
      {{ page.banner.titleEnd }}
    </h1>
  </div>
</section>
