<section class="banner">
  <div class="banner__container">
    <h1 class="banner__title">
      {{ page.banner.titleStart }}
       <br /><span class="highlight">{{ page.banner.titleAccent }}</span>
      {{ page.banner.titleEnd }}
    </h1>
  </div>
</section>