<section class="feature-cards">
  <div class="feature-cards__flex">
    {% for feature in features %}
    <div class="feature-card">
      <div class="feature-card__icon">
        <svg class="feature-card__svg">
          <use href="/img/sprite.svg#{{ feature.icon }}"></use>
        </svg>
      </div>
      <p class="feature-card__label">{{ feature.label }}</p>
    </div>
    {% endfor %}
  </div>
</section>
