<div class="catalog-fadeout-wrapper">
  <section class="catalog-card__list">
    <h2 class="visually-hidden">Product List</h2>
    {% for item in catalog.products %}
    <article
      class="catalog-card{% if item.badgeType == 'sold-out' %} catalog-card--sold-out{% endif %}"
    >
      {% if item.badgeType == 'sold-out' %}
      <div class="catalog-card__overlay"></div>
      {% endif %}

      <div class="catalog-card__image-wrapper">
        <img
          src="/img/{{ item.image }}-1x.webp"
          srcset="/img/{{ item.image }}-1x.webp, /img/{{ item.image }}-2x.webp 2x"
          alt="{{ item.title | lower }}"
          class="catalog-card__image"
        />

        {% if item.badgeType %}
        <span class="badge badge__catalog badge__catalog--{{ item.badgeType }}">
          {{ item.badgeLabel }}
        </span>
        {% endif %}
      </div>

      <div class="catalog-card__content">
        <div class="catalog-card__top">
          <h3 class="main-title main-title--h5">{{ item.title }}</h3>

          {% if item.category %}
          <p class="catalog-card__category">
            {% for cat in item.category %}
            {{ cat }}{% if not loop.last %} · {% endif %} {% endfor %}
          </p>
          {% endif %}
        </div>

        <div class="catalog-card__bottom">
          <p class="main-title main-title--h5 catalog-card__price">{{ item.price }}</p>

          {% if item.badgeType != "sold-out" %}
          <div class="catalog-card__actions">
            <button
              class="button button--secondary button--icon-medium"
              aria-label="Add to favorites"
            >
              <svg class="icon icon--heart">
                <use href="/img/sprite.svg#heart"></use>
              </svg>
            </button>
            <button
              class="button button--primary button--icon-medium"
              aria-label="Add to cart"
            >
              <svg class="icon icon--bag">
                <use href="/img/sprite.svg#bag"></use>
              </svg>
            </button>
          </div>
          {% endif %}
        </div>
      </div>
    </article>
    {% endfor %}
  </section>
  <div class="catalog-fadeout"></div>
</div>

<div class="catalog-card__load-more">
  <button class="button button--secondary button--large">Load More</button>
</div>
