<div class="categories">
  <section class="categories__header-content">
    <div class="categories__header">
      <p class="subtitle">Categories</p>
      <h2 class="categories__title">
        <span>Discover Assets for</span><br />
        Every Project
      </h2>
      <p class="categories__text">
        From fonts and icons to mockups and templates, our comprehensive
        categories ensure that you find exactly what you need to your projects.
      </p>
      <a href="#" class="button button--primary button--large">Shop Now</a>
    </div>
  </section>

  <section class="categories__grid">
    {% for category in categories %} {% if category.type == "placeholder1" %}
    <div class="category-card__placeholder1"></div>
    {% elif category.type == "placeholder2" %}
    <div class="category-card__placeholder2"></div>
    {% else %}
    <div class="category-card">
      <div class="category-card__icon">
        <svg class="category-card__svg">
          <use href="/img/sprite.svg#{{ category.icon }}"></use>
        </svg>
      </div>
      <h3 class="category-card__title">{{ category.title }}</h3>
      <p class="category-card__tags">
        <span>{{ category.tag1 }}&nbsp;•&nbsp;{{ category.tag2 }}</span>
      </p>
    </div>
    {% endif %} {% endfor %}
  </section>
</div>
