<section class="contact__info">
  <span class="subtitle">{{ contact.label }}</span>

  <h1 class="main-title main-title--h1">
    {{ contact.title | safe }}
  </h1>

  <p class="main-text main-text--p1 contact__description">
    {{ contact.description }}
  </p>

  <a
    href="{{ contact.button.link }}"
    class="contact__button button button--primary button--medium"
  >
    {{ contact.button.text }}
  </a>

  <ul class="contact__details link-text link-text--l1">
    {% for item in contact.details %}
    <li>
      <svg class="icon--contact">
        <use href="/img/sprite.svg#{{ item.icon }}"></use>
      </svg>
      {{ item.text }}
    </li>
    {% endfor %}
  </ul>

  <div class="contact__location">
    <div class="contact__image-wrapper">
      <img
        src="/img/{{ contact.map.image }}-1x.webp"
        srcset="/img/{{ contact.map.image }}-1x.webp, /img/{{ contact.map.image }}-2x.webp 2x"
        loading="lazy"
        alt="{{ contact.map.alt }}"
        class="contact__image"
      />
      <address class="contact__address">
        <svg class="icon--map">
          <use href="/img/sprite.svg#{{ contact.map.icon }}"></use>
        </svg>
        <div class="contact__office-number">
          <strong>{{ contact.map.city }}</strong
          ><br />
          {{ contact.map.address }}
        </div>
      </address>
      <div></div>
    </div>
  </div>
</section>
