<section class="contact-form-section">
  <form class="contact-form">
  <div class="form-field">
    <label for="fullname">Full Name</label>
    <input
      id="fullname"
      name="fullname"
      type="text"
      placeholder="Amelia Robert Johnson"
      required
    />
    </div>

    <div class="form-field">
    <label for="email">Email Address</label>
    <input
      id="email"
      name="email"
      type="email"
      placeholder="amelia.robertjohnson@pixmart.com"
      required
    />
    </div>

    <div class="form-field">
    <label for="subject">Subject</label>
     <div class="select-wrapper">
    <select id="subject" name="subject" required>
      <option>General Inquiry</option>
      <option>Support</option>
      <option>Business</option>
    </select>
    <svg class="icon icon--arrow-down" width="24" height="24">
    <use href="img/sprite.svg#arrow-down"></use>
     </svg>
  </div>
    </div>

    <div class="form-field">
    <label for="message">Message</label>
    <textarea
      id="message"
      name="message"
      placeholder="Enter your message ..."
      required
    ></textarea>
    </div>

    <div class="contact-form__privacy">
      <div class="contact-form__checkbox">
        <input id="newsletter" name="newsletter" type="checkbox" />
        <label for="newsletter">Subscribe me to Newsletter</label>
      </div>

      <div class="contact-form__checkbox">
        <input id="privacy" name="privacy" type="checkbox" required checked />
        <label for="privacy">I have read the User & Privacy Policy</label>
      </div>
    </div>
    <button
      type="submit"
      class="contact-form__button button button--primary button--large"
    >
      Send Message
    </button>
  </form>
</section>
