<section class="faq">
  <div class="faq__container">
    <div class="faq__left">
      <p class="subtitle">F.A.Q</p>
      <h2 class="main-title main-title--h2">Answers to Your Questions</h2>
      <button class="button button--secondary button--large">
        Ask Us A Question
      </button>
    </div>
    <div class="faq__content">
      <div class="faq__glow"></div>
      {% for faq in faqs %}
      <details class="accordion">
        <summary class="accordion__header">
          {{ faq.question }}
            <svg class="accordion__icon">
              <use href="/img/sprite.svg#button-arrow"></use>
            </svg>
        </summary>
        <p class="accordion__content">{{ faq.answer }}</p>
      </details>
      {% endfor %}
    </div>
  </div>
</section>
