<section class="hero">
  <div class="hero__images">
    {% for image in hero.images %}
    <picture class="hero__picture hero__picture--{{ image.area }}">
      <source
        srcset="/img/{{ image.desktop }}-1x.webp, /img/{{ image.desktop }}-2x.webp 2x"
        media="(min-width: 1440px)"
        type="image/webp"
      />
      <source
        srcset="/img/{{ image.tablet }}-1x.webp, /img/{{ image.tablet }}-2x.webp 2x"
        media="(min-width: 1024px)"
        type="image/webp"
      />
      <img
        src="{{ image.mobile }}"
        srcset="/img/{{ image.mobile}}-1x.webp, /img/{{ image.mobile }}-2x.webp 2x"
        alt="{{ image.alt }}"
        class="hero__image"
      />
    </picture>
    {% endfor %}
    <img src="{{ hero.icons.top }}" alt="" class="hero__icon hero__icon--top" />
    <img
      src="{{ hero.icons.bottom }}"
      alt=""
      class="hero__icon hero__icon--bottom"
    />
  </div>

  <div class="hero__content">
    <h1 class="hero__title">
      {{ hero.titleStart }}
      <span class="highlight">{{ hero.titleAccent }}</span> {{ hero.titleEnd }}
    </h1>
    <p class="hero__description">{{ hero.description }}</p>
    <div class="hero__actions">
      <a
        href="{{ hero.buttons[0].url }}"
        class="button button--primary button--large"
      >
        {{ hero.buttons[0].text }}
      </a>
      <a
        href="{{ hero.buttons[1].url }}"
        class="button button--ghost button--large"
      >
        <svg class="icon icon--play">
          <use href="/img/sprite.svg#play"></use>
        </svg>
        {{ hero.buttons[1].text }}
      </a>
    </div>
  </div>
</section>
