 <article class="product-card">
     <div class="product-card__image-wrapper">
         <img
            src="/img/{{ item.image }}-1x.webp"
            alt="{{ item.title | lower }}"
            srcset="/img/{{ item.image }}-1x.webp, /img/{{ item.image }}-2x.webp 2x"
            class="product-card__image"
          />

          {% if item.badge %}
          <span class="badge badge--{{ item.badgeType }}">
            <svg class="icon icon--badge">
              <use href="/img/sprite.svg#{{ item.badgeType }}"></use>
            </svg>
          </span>
          {% endif %}
          <div class="product-card__overlay">
            <button class="button button--primary button--large">
              Go to product
            </button>
          </div>
        </div>
        <div class="product-card__info">
          <h3 class="main-title main-title--h3">{{ item.title }}</h3>
          <p class="product-card__price">{{ item.price }}</p>
        </div>

        {% if item.category %}
        <p class="product-card__category">
          {% for cat in item.category %}
          {{ cat }}{% if not loop.last %} · {% endif %} {% endfor %}
        </p>
        {% endif %}
</article>