<section class="products">
  <div class="products__header">
    <span class="subtitle">{{ products.label }}</span>
    <div class="products__controls">
      <h2 class="main-title main-title--h2">{{ products.title }}</h2>
      <div class="products__buttons">
        <button
          class="products__nav button button--secondary button--icon-large"
          aria-label="Previous"
        >
          <svg class="icon icon__trending--left">
            <use href="/img/sprite.svg#chevron-left"></use>
          </svg>
        </button>
        <button
          class="products__nav button button--secondary button--icon-large"
          aria-label="Next"
        >
          <svg class="icon icon__trending--right">
            <use href="/img/sprite.svg#chevron-left"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <div class="products__cards card-scroll__container">
    <div class="products__list">
      {% for item in products.items %} {% include "partials/product-card.njk" %}
      {% endfor %}
    </div>
  </div>
</section>
