<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;600;700&family=Plus+Jakarta+Sans:wght@400;600;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="icon" type="image/svg+xml" href="/img/favicon.svg" />
    <title>{{ site.title }}</title>
  </head>
  <body>
    <div class="wrapper">
      {% include "partials/header.njk" %} {% block lead %}{% endblock %}

      <main class="content">
        {% block content %}default content{% endblock %}
      </main>
       {% block afterContent %}{% endblock %}

      {% include "partials/footer.njk" %}
    </div>
  </body>
</html>
