@use "../base/mixins" as *;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font-primary);
  color: var(--color-primary);
  min-width: 440px;
  width: 100%;
  background-color: var(--bg-base);
  overflow-x: hidden;
}

a {
  text-decoration: none;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

.content {
  flex: 1;
  overflow-x: hidden;
  display: grid;
  margin-bottom: 64px;

  @include tab {
    margin-bottom: 120px;
  }
  @include desk {
    padding-inline: 80px;
  }
}
.highlight {
  color: var(--color-accent);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
}
