@mixin desk {
  @media screen and (min-width: 1440px) {
    @content;
  }
}

@mixin tab {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

@mixin button-size($padding-y, $padding-x, $font-size, $line-height) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  line-height: $line-height;
}
@mixin button-icon-size($size) {
  @if $size == "large" {
    width: 64px;
    height: 64px;
    padding: 20px;

    .icon {
      width: 24px;
      height: 24px;
    }
  } @else if $size == "medium" {
    width: 40px;
    height: 40px;
    padding: 12;

    .icon {
      width: 24px;
      height: 24px;
    }
  } @else if $size == "small" {
    width: 32px;
    height: 32px;
    padding: 8px;

    .icon {
      width: 16px;
      height: 16px;
    }
  }
}
