.main-title {
  font-family: var(--font-secondary);
  &--h1 {
    font-size: var(--font-size-h1);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-h1);
    letter-spacing: var(--letter-spacing-tight);
  }
  &--h2 {
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-h2);
    letter-spacing: var(--letter-spacing-tight);
  }
  &--h3 {
    font-size: var(--font-size-h3);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-h3);
    letter-spacing: var(--letter-spacing-normal);
  }
  &--h4 {
    font-size: var(--font-size-h4);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-h4);
    letter-spacing: var(--letter-spacing-normal);
  }
  &--h5 {
    font-size: var(--font-size-h5);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-h5);
    letter-spacing: var(--letter-spacing-normal);
  }
}
.main-text {
  &--p1 {
    font-size: var(--font-size-p1);
    line-height: var(--line-height-p1);
    letter-spacing: var(--letter-spacing-normal);
    font-weight: var(--font-weight-regular);
  }

  &--p2 {
    font-size: var(--font-size-p2);
    line-height: var(--line-height-p2);
    letter-spacing: var(--letter-spacing-normal);
    font-weight: var(--font-weight-regular);
  }
  &--p3 {
    font-size: var(--font-size-p3);
    line-height: var(--line-height-p3);
    letter-spacing: var(--letter-spacing-normal);
    font-weight: var(--font-weight-regular);
  }
}
.link-text {
  &--l1 {
    font-size: var(--font-size-p1);
    line-height: var(--line-height-p1);
    letter-spacing: var(--letter-spacing-normal);
    font-weight: var(--font-weight-semibold);
  }
}

.subtitle {
  font-size: var(--font-size-p2);
  line-height: var(--line-height-p2);
  font-weight: var(--font-weight-regular);
  letter-spacing: (--letter-spacing-normal);
  color: var(--color-focus-2);
  text-transform: uppercase;
}
